@font-face {
    font-family: 'Roboto-Light';
    src: url('/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
div.container {
	display: flex;
	align-items: left;
	justify-content: left;
}

.geyser {
	color: white;
	text-align: center;
	font-size: 20px:
}

.add-button {
	color: 21FF0A;
	text-align: center;
	font-size: 20px;
}

.image {
	flex-basis: 40%;
}

.text {
	font-size: 20px;
	text-align: center;
	color: white;
}
/* - Unused, reserved for future use.
.buttons {
	
}
*/
.button1 {
	font-size: 20px;
	text-align: center;
	color: #48A7F0;
}

.button2 {
	font-size: 20px;
	text-align: center;
	color: #48A7F0;
}

.button3 {
	font-size: 20px;
	text-align: center;
	color: #48A7F0;
}

p {
	color:white;
	text-align: center;
	font-size: 20px;
}

body {
	background-color: #000025;
}

img {
	max-width: 100%;
}

a {
	color: #2CF657;
}
